<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pp.auth.dao.SysDictTypeMapper">
  <resultMap id="BaseResultMap" type="com.pp.auth.model.SysDictType">
    <id column="dict_id" jdbcType="INTEGER" property="dictId" />
    <result column="dict_name" jdbcType="VARCHAR" property="dictName" />
    <result column="dict_type" jdbcType="VARCHAR" property="dictType" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="createuser" jdbcType="VARCHAR" property="createuser" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="updateuser" jdbcType="VARCHAR" property="updateuser" />
    <result column="status" jdbcType="CHAR" property="status" />
  </resultMap>

</mapper>
